#brand-image {
  height: 40px;
  padding-bottom: 10px;
}

#content {
  text-align: center;
  padding-top: 25%;
}

body {
  background: url('https://images.unsplash.com/photo-1586074299757-dc655f18518c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
  background-size: cover;
  background-position: center;
  font-family: 'Playfair Display', serif;
}
}

h1 {
  color: #5B453B;
}

html{
  height: 100%;
}

hr{
  width: 60%;
  border-top: 1px solid #C5A27C;
}
