body{
  background:	#e3dac9;
}

p{
  font-family: 'Raleway', sans-serif;
  margin: 1.66%;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 3px solid;
  width: 30%;
  padding-bottom: 15px;
}


img{
  width: 30%;
  float: left;
  margin: 1.66%
}
